/* 
.p-6 {
    padding: 1.5rem;
}

.overflow-y-auto {
    overflow-y: auto;
}

.max-h-\[60vh\] {
    max-height: 60vh;
}

* {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
} */